body
{
	color: #d7ba7d;
	background-color: #1e1e1e;
	font-family: Calibri, "Lucida Grande", sans-serif;
	margin: 0;
}

button
{
	color: #fff;
	background-color: #3276b1;
	border: 1px solid #285e8e;
	border-radius: 4px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 26px;
	cursor: pointer;
}

#BackgroundArea
{
	position: relative;
	width: 480px;
	height: 250px;
	background-color: gray;
}

.DotDiv
{
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 10px;
}

.BoxDiv
{
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: yellow;
	border-radius: 0;
}

#Dot0 {	left: 80px; top: 0px; }
#Dot1 {	left: 180px; top: 230px; }
#Box0 {	left: 280px; top: 0px; }
#Box1 {	left: 380px; top: 230px; }
