body
{
	color: #d7ba7d;
	background-color: #1e1e1e;
	font-family: Calibri, "Lucida Grande", sans-serif;
	margin: 0;
}

button
{
	color: #fff;
	background-color: #3276b1;
	border: 1px solid #285e8e;
	border-radius: 4px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 26px;
	cursor: pointer;
}

#BackgroundArea
{
	position: relative;
	width: 480px;
	height: 117px;
	background-color: gray;
}

.BoxDiv
{
	position: absolute;
	top: 0px;
	width: 120px;
	height: 26px;
	padding-top: 4px;
	font-size: 18px;
	font-weight: bold;
	color: black;
	border-radius: 2px;
	text-align: center;
}

#Box0
{
	left: 60px;
	background-color: yellow;
}

#Box1
{
	left: 300px;
	background-color: orange;
}
