html, body
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border-width: 0 0 0 0;
}

body
{
	color: #d7ba7d;
	font-family: Calibri, "Lucida Grande", sans-serif;
}

#Everything
{
	position: relative;
	top: 0;
	left: 0;
	width: 800px;
	height: 400px;
	overflow: hidden;
	background-color: #6b92ff;
}

#Fish
{
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background-color: tomato;
}

.FishFood
{
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: orange;
}
