h3
{
	margin-top: 10px;
	margin-bottom: 10px;
}

h4
{
	border-top: 1px solid black;
	margin-bottom: 10px;
}

div.TutorialStep:first-child h4
{
	border-top-style: none;
}

#ContentDescription
{
	font-size: 18px;
}

.TutorialStep
{

}

.TutorialDemoFrame
{
	width: 480px;
	border: 1px solid black;
}

.TutorialDemoFrameContainer
{
	float: right;
	width: 482px;
	border: 1px solid #d7ba7d;
}

.TutorialDemoFrameCaption
{
	font-size: 13px;
}