h3, h4
{
	margin-top: 10px;
	margin-bottom: 5px;
}

p
{
	margin-top: 5px;
}

.DownloadVersionSectionDiv
{}

.DownloadFileDiv
{
	display: inline-block;
	width: 200px;
	vertical-align: top;
	padding-top: 30px;
}

.DownloadFileDiv p
{
	font-size: 20px;
}

.DownloadDescriptionDiv
{
	display: inline-block;
	width: 720px;
	vertical-align: top;
}

.DownloadDescriptionDiv h4
{
	margin-top: 0px;
}

.DownloadComponentList
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
}

.DownloadComponentList li
{
	font-size: 15px;
	margin-bottom: 2px;
}