h3
{
	margin-top: 10px;
	margin-bottom: 10px;
}

h4
{
	border-top: 1px solid black;
	margin-bottom: 10px;
}

div.TutorialStep:first-child h4
{
	border-top-style: none;
}

#ContentDescription
{
	font-size: 18px;
}

.TutorialNavigation
{
	box-sizing: border-box;
	width: 50%;
	float: left;
}

.TutorialIntroSection
{
	box-sizing: border-box;
	width: 50%;
	float: left;
}

.TutorialStep
{
	clear: both;
}

.TutorialDemoFrame
{
	width: 480px;
	border: 1px solid black;
}

.TutorialSingleDemoContainer
{
	float: right;
	width: 482px;
	border: 1px solid #d7ba7d;
}

.TutorialDemoFrameCaption
{
	font-size: 13px;
}
