h3
{
	margin-top: 10px;
	margin-bottom: 10px;
}

h4
{
	border-top: 1px solid black;
	padding-top: 10px;
	margin-bottom: 10px;
}

pre
{
	background-color: #aaaaaa;
	padding: 4px;
}

div.TutorialStep:first-child h4
{
	border-top-style: none;
}

#ContentDescription
{
	font-size: 18px;
}

.TutorialNavigation
{
	box-sizing: border-box;
	width: 50%;
	float: left;
}

.TutorialIntroSection
{
	box-sizing: border-box;
	width: 50%;
	float: left;
}

.TutorialStep
{
	clear: both;
}

.TutorialDemoFrame
{
	width: 480px;
	height: 150px;
	border: 1px solid black;
}

.TallDemoFrame
{
	height: 300px;
}

.TutorialSingleDemoContainer
{
	width: 482px;
	border: 1px solid #d7ba7d;
}

.TutorialDemoFrameCaption
{
	font-size: 13px;
}

.PreviousTutorialLink
{
	display: inline-block;
	width: 49%;
	text-align: left;
	font-weight: bold;
}

.NextTutorialLink
{
	display: inline-block;
	width: 50%;
	text-align: right;
	font-weight: bold;
}

ul.TutorialBullets > li
{
	margin-top: 5px;
}
