html, body
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border-width: 0 0 0 0;
}

body
{
	font-family: Calibri, "Lucida Grande", sans-serif;
}

#Everything
{
	position: relative;
	top: 0;
	left: 0;
	width: 800px;
	height: 380px;
	color: #eeeeee;
	background-color: black;
	display: grid;
	grid-template-columns: 240px 320px 240px;
	padding-top: 20px;
}

video
{
	width: 320px;
	height: 180px;
}

#Conductor
{
	position: relative;
	left: 100px;
	top: 0px;
	width: 40px;
	height: 40px;
	background: rgb(84, 8, 155);
	color: white;
	text-align: center;
	font-size: 32px;
	font-weight: bold;
}

#TextArea
{
	font-size: 20px;
}

#ClapAnimationArea
{
	position: relative;
}

.ClapBox
{
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: black;
}

#ClapBox0
{
	left: 100px;
	top: 0px;
}

#ClapBox1
{
	left: 100px;
	top: 70px;
}

#ClapBox2
{
	left: 100px;
	top: 140px;
}
